{% extends "base.html" %}
{% load static %}

{% block content %}
<body>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  <section id="hero">
    <div class="hero-container">
      <h3>Welcome to <strong>The Marketing Ally</strong></h3>
      <h1>TEXT</h1>
      <h2>TEXT</h2>
      <a href="#" class="btn-get-started scrollto">Get Started</a>
    </div>
  </section>
  {% include 'includes/about.html' %}  
  {% include 'includes/services.html' %} 
  {% include 'includes/products.html' %} 
  {% include 'includes/pricing.html' %}   
  {% include 'includes/portfolio.html' %}
  {% include 'includes/faqs.html' %}          
</body>
{% endblock %}