 <section id="about" class="about">
    <div class="container">
      <div class="section-title">
        <h2>About</h2>
        <h3>
            Learn more about
            <span>How can I help</span>
        </h3>
      </div>
      <div class="row content">
        <div class="col-lg-6">
          <p>
            First a little about me - I have worked in marketing for over 20 years, my first position as a marketing assistant for a pensions company based in London. 
          </p>
          <p>
            I believe in straight talking, so a few things you might want to know about me from the start: I don’t have a marketing degree. I have never made a post “go viral” (seriously, what does that even mean?!). 
            I enjoy what I imagine most people don’t when it comes to organisation, spreadsheets, budgeting and planning. I have never worked for a large agency.
          </p>
          <ul>
            <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
            <li><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate velit</li>
            <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat</li>
          </ul>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0">
          <p>
            Who you are…
            Likely you have set up your own business, or are a small local company with limited resources.
            You know your business, what you offer and your customers.
            What you might not be comfortable with is the marketing side of things – how to find and connect with new potential customers, where to spend a marketing budget, maybe decisions such as should 
            you even be carrying out any marketing activities.
            What you are not looking for is a large marketing agency, who offer everything you could possibly need (and even things you didn’t know you needed…), taking time with lengthy project pitches and 
            clever graphics, tying you into expensive and long-term retainers.            
          </p>
          <p>
              IMAGE GOES HERE
          </p>
        </div>
      </div>
    </div>
  </section>