 {% load static %}
 <section id="about" class="about padding-bottom-30">
  <div class="container">
    <div class="section-title">
      <h2>About</h2>
      <h3>
          Learn more about
          <span>How can I help</span>
      </h3>
    </div>
    <div class="row content">
      <div class="col-lg-12 mb-3">
        <p>
          My name is Sophie Leriksson. In a nutshell, I am a marketing consultant, working with small companies local to Gothenburg, who need some ad-hoc marketing assistance.
        </p>
        <p>
          I believe in straight talking, so a few things you might want to know about me from the start: I don’t have a marketing degree and will not "awe" you with clever marketing speak! I have never made a post “go viral” 
          (seriously, what does that even mean?!). I enjoy what I imagine most people don’t when it comes to organisation, spreadsheets, administration, budgeting and planning. 
        </p>
      </div>
    </div>
    <div class="row content">
      <div class="col-lg-4" id="sophie_image">
      </div>      
      <div class="col-lg-8 pt-4 pt-lg-0 pb-sm-0">
        <h3>
          This is me...
        </h3>        
        <ul>
          <li>
            <i class="ri-check-double-line"></i>
            I am trustworthy: if I say I will finish a project within a deadline, then that's what I will do.
          </li>
          <li>
            <i class="ri-check-double-line"></i>
            I am a good communicator: I can help you translate the great things about your business, into something tangible for your customers.
          </li>
          <li>
            <i class="ri-check-double-line"></i>
            I don't judge: "marketing" can be intimidating and be seen as something bigger than it needs to be. I don't think any question you have is stupid - 
            this is why I offer a <a href="{% url 'contact' %}#request_a_quote">free 20 minute first consultation</a>, so you can ask the questions you don't feel comfortable asking without any obligation!
          </li>
          <li>
            <i class="ri-check-double-line"></i>
              I have worked in strategic marketing for small-medium sized businesses, for over 15 years and have a lot of experience in understanding a customer base, creating a campaign 
              plan, and then seeing it through to generating high quality leads.
          </li>
          <li>
            <i class="ri-check-double-line"></i>
            I have never worked for a large marketing agency, but I have for many years worked with them.
          </li>
        </ul>
      </div>
      <div class="col-lg-12 pt-lg-4 pt-sm-2 mt-lg-4">
        <h3>
          Who you are…
        </h3>
        <ul>
          <li>
            <i class="ri-check-double-line"></i>
            Likely you have set up your own business, or are a small company with limited resources.
          </li>
          <li>
            <i class="ri-check-double-line"></i>
            You know your business, what you offer and your customers.
          </li>
          <li>
            <i class="ri-check-double-line"></i>
            What you might not be comfortable with is the marketing side of things – how to find and connect with new potential customers, where to spend a marketing budget, maybe decisions such as should 
            you even be carrying out any marketing activities.
          </li>
          <li>
            <i class="ri-check-double-line"></i>
            What you are not looking for is a large marketing agency, who offer everything you could possibly need (and even things you didn’t know you needed…), taking time with lengthy project pitches and 
            clever graphics, tying you into expensive and long-term retainers.     
          </li>              
        </ul>                 
      </div>
    </div>      
  </div>
</section>