<section id="portfolio" class="services">
    <div class="container">
        <div class="section-title">
            <h2>Portfolio</h2>
            <h3>Work <span>Examples</span></h3>
            <p>
                Read on to get a better idea of how I can help.
            </p>
            <p>
                Due to confidentiality and business sensitivity I can only give an overview of work carried out for
                other customers - however if you would like to see a recommendation from another
                company about my previous work, please <a href="{% url 'contact' %}">get in touch.</a>
            </p>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-6 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box">
                    <div class="icon"><i class="bx bi-cup-fill"></i></div>
                    <h4 class="title">Gothenburg Coffee House</h4>
                    <p class="description">
                        This local coffee shop suddenly found they were struggling to compete with the larger chains
                        that kept arriving in the city.
                    </p>
                    <p class="description">
                        Together we created a simple survey for their customers to understand their strengths and
                        weaknesses, then created a communication plan to
                        promote their awesome coffee and customer service, while working on reducing the weaknesses,
                        without affecting their profit.
                    </p>
                    <p class="description">
                        After 3 hours of work together, they had the tools they needed to implement the communication
                        plan themselves, and increase their customer base over 30% in two months.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box">
                    <div class="icon"><i class="bx bi-people-fill"></i></div>
                    <h4 class="title">Vegan catering company</h4>
                    <p class="description">
                        Very new to the world of catering, a small business owner came looking for help with their
                        communication plan.
                    </p>
                    <p class="description">
                        They knew who they wanted to target, but didn't know how, and needed a helping hand with that
                        first step.
                    </p>
                    <p class="description">
                        We spent some time refining their plan so they could continually improve the company's
                        communication and new business lead generation.
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-6 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box">
                    <div class="icon"><i class="bx bi-cash-coin"></i></div>
                    <h4 class="title">Financial Adviser - sole trader</h4>
                    <p class="description">
                        I have been working with a Financial Adviser based in Stockholm for over 2 years now - we have
                        monthly digital meetings to discuss the LinkedIn campaigns he set up and review their progress.
                    </p>
                    <p class="description">
                        During this time I also help him review his marketing budget for the previous month and
                        understand where any new business has come from and how much it cost, allowing him to
                        make better strategic decisions about where to spend any marketing budget.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box">
                    <div class="icon"><i class="bx bi-signpost-split-fill"></i></div>
                    <h4 class="title">Local travel agency</h4>
                    <p class="description">
                        A small firm, that specialises in weekend trips to the Norwegian Fjords (it's AMAZING and worth
                        a trip!).
                    </p>
                    <p class="description">
                        They are a husband and wife team, who once they started a family, struggled to manage the
                        business with small children.
                    </p>
                    <p class="description">
                        Every 3 months, they purchase 2 physical project hours for me to come in and sort out any
                        administration, purchase orders, or invoicing that needs doing. Allowing them to focus on
                        their expanding business and family!
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>