<section id="pricing" class="pricing padding-bottom-30">
  <div class="container">
    <div class="section-title">
      <h2>Pricing</h2>
      <h3>
        Competitive pricing 
        <span>Structure</span>
      </h3>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="box">
          {% for product in products %}
            {% if product.pricing_priority == 2 %}
              <h3>{{ product.name }}</h3>
              <h4><sup>€</sup>{{ product.price }}<span> / {{ product.time_allocation_mins }} minutes</span></h4>
              <ul>
                <li>{{ product.description_1 }}</li>
                <li>{{ product.description_2 }}</li>
                <li>{{ product.description_3 }}</li>
                <li>{{ product.description_4 }}</li>             
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-action">Select</a>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="box recommended">
          <span class="recommended-badge">Recommended</span>
          {% for product in products %}
            {% if product.pricing_priority == 1 %}
              <h3>{{ product.name }}</h3>
              <h4><sup>€</sup>{{ product.price }}<span> / {{ product.time_allocation_mins }} minutes</span></h4>
              <ul>
                <li>{{ product.description_1 }}</li>
                <li>{{ product.description_2 }}</li>
                <li>{{ product.description_3 }}</li>
                <li>{{ product.description_4 }}</li>                                
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-action">Select</a>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="box">
          {% for product in products %}
            {% if product.pricing_priority == 3 %}
              <h3>{{ product.name }}</h3>
              <h4><sup>€</sup>{{ product.price }}<span> / {{ product.time_allocation_mins }} minutes</span></h4>
              <ul>
                <li>{{ product.description_1 }}</li>
                <li>{{ product.description_2 }}</li>
                <li>{{ product.description_3 }}</li>
                <li>{{ product.description_4 }}</li>                                
              </ul>        
              <div class="btn-wrap">
                <a href="#" class="btn-action">Select</a>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="row section-title">
      <p>
          To purchase hours and benefit from the competitive pricing structure, you must first <a href="{% url 'account_signup' %}">register an account</a>.
      </p>   
      <p>
        Once logged in, you can add a maximum of 3 hours to your order and request a timeslot that suits - from the order page you can see my calendar and availability before payment.
      </p>
      <p>
        If there isn't a time suitable, or you want the hours spread over a month, just <a href="{% url 'contact' %}">get in touch</a>.
      </p>                                
    </div>       
  </div>
</section>