<section id="services" class="services"><a name="products"></a>
    <div class="container">
        <div class="section-title">
            <h2>
                Products
            </h2>
            <h3>
                Checkout these awesome 
                <span>Marketing Templates</span>
            </h3>
            <p>
                Not ready for a consultation, or to commit to project hours - check out our marketing templates to help you get started.
            </p>
            <p>
                All templates cost €10 and come with a free review for registered account holders.
            </p>            
            <a class="btn-action mt-3" href="{% url 'account_signup' %}">Sign up here!</a>          
        </div>
        <div class="row">
            {% for product in products %}
                {% if product.category.name == 'marketing_templates' %}
                    <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                        <div class="icon-box">
                            <h4 class="title">
                                {{ product.name }}
                            </h4>
                            <a href="#"><img id="template_img" class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}"></a>
                            <p class="description">
                                Get a clear overview of your marketing spend, quarter by quarter - this gives you control over which marketing activities provide you with real value, so you know where to spend it.
                            </p>
                            <a href="#" class="icon" title="Add to basket">
                                <i class="icon bx bi-basket3-fill"></i>
                            </a>
                        </div>                  
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="section-title">
            <p>
                For registered account owners, each marketing template purchased includes a free review once you have filled it in. Make sure you register before purchase to take advantage! 
            </p>                
            <p>
                T&Cs apply.
            </p>
        </div>   
    </div>  
</section>