<section id="services" class="services">
    <div class="container">
        <div class="section-title">
            <h2>
                Products
            </h2>
            <h3>
                We also offer awesome 
                <span>Marketing Templates</span>
            </h3>
            <p>
                Not ready for a consultation, or to commit to project hours, check out our marketing templates to help you get started
            </p>
        </div>
        <div class="row">
            <div class="col-md-4 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box">
                    <div class="icon"><i class="bx bxl-dribbble"></i></div>
                    <h4 class="title">
                        <a href="">Marketing budget</a>
                    </h4>
                    <p class="description">
                        IMAGE AND LINK 
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-file"></i></div>
                    <h4 class="title">
                        <a href="">Marketing plan</a>
                    </h4>
                    <p class="description">
                        IMAGE AND LINK 
                    </p>          
                </div>
            </div>
            <div class="col-md-4 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
                <div class="icon-box">
                    <div class="icon"><i class="bx bx-tachometer"></i></div>
                    <h4 class="title">
                        <a href="">Email wording templates</a>
                    </h4>
                    <p class="description">
                        IMAGE AND LINK 
                    </p>          
                </div>
            </div>
        </div>
        <div class="section-title">
            <p>
                Register an account for a free review of your completed template.
            </p>     
        </div>   
    </div>  
</section>