<section id="services" class="services" name="services">
    <div class="container">
      <div class="section-title">
        <h2>Services</h2>
        <h3>We do offer awesome <span>Services</span></h3>
        <p>Ut possimus qui ut temporibus culpa velit eveniet modi omnis est adipisci expedita at voluptas atque vitae autem.</p>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box">
            <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4 class="title"><a href="">Lead Generation</a></h4>
            <p class="description">
                Struggling to find new business? 
            </p>
            <p class="description">
                Together we can review your current marketing activities and create a new activity plan, purely focused on generating high quality, long lasting relationships.
            </p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-file"></i></div>
            <h4 class="title"><a href="">Argh - marketing buzzwords!</a></h4>
            <p class="description">
                Ever found yourself at a networking event and someone asks you "so what does your digitial marketing startegy look like at the moment?" and panic hits you - what the hell are they talking about?
            </p>
            <p class="description">
                Benefit from a free 20 minute consultation call to find out if those "marketing buzz words" 
                (brand identity, strategic marketing, influencer marketing, content is king) is anything to actually concern yourself with. 
            </p>            
          </div>
        </div>
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-tachometer"></i></div>
            <h4 class="title"><a href="">Marketing budget</a></h4>
            <p class="description">
                Need some help getting control of your marketing spend?
            </p>
            <p class="description">
                Let us help!
            </p>            
          </div>
        </div>
        <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-world"></i></div>
            <h4 class="title"><a href="">Communications plan</a></h4>
            <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4 class="title"><a href="">Lead Generation</a></h4>
              <p class="description">
                  Struggling to find new business? 
              </p>
              <p class="description">
                  Together we can review your current marketing activities and create a new activity plan, purely focused on generating high quality, long lasting relationships.
              </p>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4 class="title"><a href="">Argh - marketing buzzwords!</a></h4>
              <p class="description">
                  Ever found yourself at a networking event and someone asks you "so what does your digitial marketing startegy look like at the moment?" and panic hits you - what the hell are they talking about?
              </p>
              <p class="description">
                Text. 
              </p>            
            </div>
          </div>
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4 class="title"><a href="">Marketing budget</a></h4>
              <p class="description">
                  Need some help getting control of your marketing spend?
              </p>
              <p class="description">
                  Let us help!
              </p>            
            </div>
          </div>
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-world"></i></div>
              <h4 class="title"><a href="">Communications plan</a></h4>
              <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
            </div>
          </div>
        </div>
      </div>    
  </section>