<section id="services" class="services">
  <div class="container">
    <div class="section-title">
      <h2>Services</h2>
      <h3>Awesome <span>Services</span></h3>
      <p>
        Here are some examples of the services I offer to help you focus on your business. 
      </p>
      <p>
        Check out <a href="{% url 'home' %}#faq">the FAQs section</a> for more information on how to purchase project hours. Please note you must be <a href="{% url 'account_login' %}">
          signed in</a> to purchase project hours and request a timeslot.
      </p>      
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box">
          <div class="icon"><i class="bx bi-people-fill"></i></div>
          <h4 class="title">Lead Generation</h4>
          <p class="description">
              Struggling to find new customers? 
          </p>
          <p class="description">
              Together we can review your current marketing activities, create a new activity plan focused on generating high quality, long lasting relationships - on a budget that works for you.
          </p>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box">
          <div class="icon"><i class="bx bi-signpost-split-fill"></i></div>
          <h4 class="title">Argh - marketing buzzwords!</h4>
          <p class="description">
              Benefit from a <a href="">free 20 minute consultation</a> to find out if those "marketing buzz words" 
              (brand identity, influencer marketing, content is king, going viral...you get the gist) are anything to actually concern yourself with. 
          </p>            
        </div>
      </div>
      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box">
          <div class="icon"><i class="bx bi-cash-coin"></i></div>
          <h4 class="title">Marketing budget</h4>
          <p class="description">
              Need some help getting control of your marketing spend?
          </p>
          <p class="description">
              Together we can work through what you are spending, put a process in place to give you better control over where your money goes, and work out what you are actually getting from it.
          </p>            
        </div>
      </div>
      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box">
          <div class="icon"><i class="bx bi-pen-fill"></i></div>
          <h4 class="title">Administration</h4>
          <p class="description">
              Filing, organising, general admin - when you focus on the day-to-day running of your business, it doesn't take long before things start pilling up.
          </p>
          <p class="description">
            I love organising - so let me spend my time putting order and clarity back into your work, so you don't have to!
          </p> 
        </div>
      </div>  
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box">
          <div class="icon"><i class="bx bi-emoji-smile-fill"></i></div>
          <h4 class="title">Communications plan</h4>
          <p class="description">
            Do you have a plan on when to contact your customers, emails you want to send, social media posts you want to write?
          </p>
          <p class="description">
            I can help review both the wording, and the timing of your customer communication so it provides value to you and your customers.
          </p>          
        </div>
      </div>
      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box">
          <div class="icon"><i class="bx bi-lightbulb-fill"></i></div>
          <h4 class="title">Lightbulb idea!</h4>
          <p class="description">
              You've had a brainwave - that brilliant idea that could be a gamechanger for your business. But as you think about it more, doubt starts to creep in...
          </p>
          <p class="description">
            With over 15 years experience in numerous industries, I can act as an impartial sound board to help you work through your idea, and put a plan together to make it happen.
          </p>            
        </div>
      </div>
      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box">
          <div class="icon"><i class="bx bi-table"></i></div>
          <h4 class="title">Database management</h4>
          <p class="description">
              Do you have a spreadsheet with many names collected over time, but you don't know if they are even relevant now?
          </p>
          <p class="description">
              I will research the names and companies on your list, and return a clean database of value to you, saving you hours of painful work, so you can concentrate on the more important tasks.
          </p>            
        </div>
      </div>
      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box">
          <div class="icon"><i class="bx bi-watch"></i></div>
          <h4 class="title">Purchase project hours</h4>
          <p class="description">
            Select the options below to book and pay for hours required. 
          </p>
          <p class="description">
              You must be <a href="{% url 'account_login' %}">logged into your account</a> to purchase hours and book a timeslot.
          </p>
          <p class="description">
            <input type="checkbox" id="digital_90" name="digital_90" {% if user.is_authenticated %}{% else %} disabled {% endif %}></input>
            <label for="digital_90">Digital - 1.5 hours - €75</label>
          </p>
          <p class="description">
            <input type="checkbox" id="physical_60" name="physical_60" {% if user.is_authenticated %}{% else %} disabled {% endif %}></input>
            <label for="physical_60">Face-to-face - 1 hour - €75</label>
          </p>
          <p class="description">
            <input type="checkbox" id="digital_150" name="digital_150" {% if user.is_authenticated %}{% else %} disabled {% endif %}></input>
            <label for="digital_150">Digital - 2.5 hours - €120</label>
          </p>
          <p class="description">
            <input type="checkbox" id="physical_120" name="physical_120" {% if user.is_authenticated %}{% else %} disabled {% endif %}></input>
            <label for="physical_120">Face-to-face - 2 hours - €120</label> 
          </p>
          <div>
            <a class="btn-get-started" href="">
              Go to checkout
            </a>
          </div>                
        </div>
      </div>
    </div>
  </div>
</section>