{% extends "base.html" %}
{% load static %}

{% block extra_page_header  %}

{% include 'includes/additional_header.html' %}

{% endblock %}

{% block content %}
    <div class="container padding-bottom-100" id="shopping_bag">
        <div class="section-title">
            <h3>Your <span>Basket</span></h3>
        </div>
        <div class="row">
            <h3 class="title">
                Project Hours
            </h3>
            <div class="row">
                {% if bag_items %}
                    {% for item in bag_items %}
                        {% if item.product.category.name == 'project_hours' %}
                        <div class="col-lg-3 col-sm-6 mb-2">
                            <p>
                                {{ item.product.name }}
                            </p>
                            <p class="mb-2">
                                {{ item.product.time_allocation_mins }} minutes
                            </p>                            
                            <p class="mb-2">
                                €{{ item.product.price }}
                            </p>
                            <p>
                                CALENDER TIME SLOTS HERE
                            </p>
                        </div>
                        {% endif %}
                    {% endfor %}
                    {% else %}
                        <div class="row">
                            <h4 class="title">
                                You do not have any project hours in your basket.
                            </h4>
                        </div>
                {% endif %}
            </div>
        </div>        
        <div class="row">
            <h3 class="title">
                Marketing Templates
            </h3>
            <div class="row">
                {% if bag_items %}
                    {% for item in bag_items %}
                        {% if item.product.category.name == 'marketing_templates' %}                    
                        <div class="col-lg-3 col-sm-6 mb-2">
                            <p>
                                Template: {{ item.product.name }}
                            </p>
                            <p class="mb-2">Price: ${{ item.product.price }}</p>
                            {% if user.is_authenticated %} 
                                <p class="my-0 font-weight-bold">
                                    A free review of your completed {{ item.product.name }} is included in your purchase.
                                </p>
                            {% endif %}
                            <img class="mt-3" src="{{ item.product.image.url }}" alt="{{ item.product.name }}" style="height: 75px; width: 75px;">
                        </div>
                        {% endif %}
                    {% endfor %}
                    {% else %}
                    <div class="row">
                        <h4 class="title">
                            You do not have any marketing templates in your basket.
                        </h4>
                    </div>
                {% endif %}
            </div>
        </div> 
        <div class="row">
            <div class="d-flex justify-content-center col-lg-12 mb-3">     
                {% if bag_items %}
                    {% if user.is_authenticated %}
                    <a class="btn-action" href="{% url 'checkout' %}">Secure checkout</a>
                    {% else %}
                    <a class="btn-action" href="{% url 'checkout' %}">Checkout as guest</a>                
                    {% endif %}
                    {% else %}
                    <a class="btn-action" href="{% url 'order_basket' %}">Visit order page</a>   
                {% endif %}
            </div>
        </div>    
    </div>
{% endblock %}