{% extends "base.html" %}
{% load static %}

{% block extra_page_header  %}

{% include 'includes/additional_header.html' %}

{% endblock %}

{% block content %}
    <section id="products_overview">
        <div class="container">
            <div class="section-title">
                <h3>Site <span>Administration</span></h3>
                <p>
                  Quote and booking requests
                </p>
              </div>
            <div class="row">
                <h1>
                    Quote Requests
                </h1>
                {% for quote in requests %}                                       
                        <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
                            <div class="card h-100 border-0">
                                <div class="card-body pb-0">
                                    <p class="lead font-weight-bold mb-0">Company Name: {{ quote.company_name }} {{ quote.consultation_status }}</p>
                                </div>
                                <div class="card-footer bg-white pt-0 border-0 text-left">
                                    <div class="row">
                                        <div class="col">
                                            <p class="mt-1 mb-0">
                                                Contact Name: {{ quote.full_name }}
                                            </p>
                                            <p class="mt-1 mb-0">
                                                Email: {{ quote.email }}
                                            </p>
                                            <p class="mt-1 mb-0">
                                                Phone: {{ quote.phone }}
                                            </p>  
                                            <p class="mt-1 mb-0">
                                                Free consultation request: {{ quote.free_consultation_request }}
                                            </p>  
                                            <p class="mt-1 mb-0">
                                                Project Name: {{ quote.project_name }}
                                            </p> 
                                            <p class="mt-1 mb-0">
                                                Project Description: {{ quote.project_description }}
                                            </p>                                                                                                                                                                                                                                                             
                                            {% if request.user.is_superuser %}
                                                <small class="ml-3">
                                                    <a href="#">Edit</a> | 
                                                    <a class="text-danger" href="#">Delete</a>
                                                </small>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                {% endfor %}
            </div>          
        </div>
    </section>
{% endblock %}