{% extends "base.html" %}
{% load static %}

{% block extra_page_header  %}

{% include 'includes/additional_header.html' %}

{% endblock %}

{% block content %}
<section id="checkout">
    <div class="container">
        <div class="section-title">
            <h3>Check<span>out</span></h3>
            <p>
                Thank you for your order!
            </p>
            <p>
                We will be in touch within 24 hours to confirm a booked timeslot and discuss your project needs.
            </p>            
        </div>
        <div class="row">
            <div class="d-flex col-lg-12 justify-content-center">
                <a href="{% url 'home' %}" class="btn-action justify-content-center">Back home</a>   
            </div>
        </div>
    </div>
</section>
{% endblock %}