<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center justify-content-between">
    <h1 class="logo"><a href="{% url 'home' %}">The Marketing Ally</a></h1>
    <nav id="navbar" class="navbar">
      <ul>
        <li><a class="nav-link scrollto active" href="{% url 'home' %}">Home</a></li>
        <li class="dropdown"><a href="{% url 'home' %}#about"><span>About</span><i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="{% url 'home' %}#services">Services</a></li>
            <li><a href="{% url 'home' %}#products">Marketing Templates</a></li>
            <li><a href="{% url 'home' %}#pricing">Pricing</a></li>
            <li><a href="{% url 'home' %}#portfolio">Portfolio</a></li>
            <li><a href="{% url 'home' %}#faq">FAQs</a></li>            
          </ul>
        </li>
        <li class="dropdown"><a href="{% url 'contact' %}"><span>Contact</span><i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a class="navbar-dropdown" href="{% url 'contact' %}">Get in touch</a></li>
            <li><a class="navbar-dropdown" href="{% url 'contact' %}#request_a_quote">Request a quote</a></li>            
          </ul>
        </li>
        <li><a class="nav-link scrollto " href="#">Register</a></li>
        <li><a class="nav-link scrollto" href="{% url 'account_login' %}">Account icon</a></li>
        <li><a class="nav-link scrollto" href="{% url 'order_basket' %}">Basket icon</a></li>        
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
  </div>
</header>