<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center justify-content-between">
    <h1 class="logo"><a href="{% url 'home' %}">The Marketing Ally</a></h1>
    <nav id="navbar" class="navbar">
      <ul>
        <li class="dropdown"><a href="#"><span>About</span><i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a class="navbar-dropdown" href="#">Services</a></li>
            <li><a class="navbar-dropdown" href="#">Marketing Templates</a></li>
            <li><a class="navbar-dropdown" href="#">Pricing</a></li>
            <li><a class="navbar-dropdown" href="#">Portfolio</a></li>
            <li><a class="navbar-dropdown" href="#">FAQs</a></li>            
          </ul>
        </li>
        <li class="dropdown"><a href="{% url 'contact' %}"><span>Contact</span><i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a class="navbar-dropdown" href="{% url 'contact' %}">Get in touch</a></li>
            <li><a class="navbar-dropdown" href="{% url 'contact' %}#request_a_quote">Request a quote</a></li>            
          </ul>
        </li>
        <li><a class="nav-link scrollto " href="#">Register</a></li>
        <li><a class="nav-link scrollto" href="">Account icon</a></li>
        <li><a class="nav-link scrollto" href="">Basket icon</a></li>        
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav>
  </div>
</header>