<div class="container">
    <div class="row text-center">
        <div class="col-lg-6 offset-3">
            <h3 class="title">Purchase marketing templates</h3>
            <p class="description">
                If you are logged into an account at time of purchase, you will receive your review within 5 working days.
            </p>
            <a class="btn-action mb-4" href="{% url 'account_signup' %}">Register!</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 offset-2">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Free review</th>        
                        <th scope="col">Template Name</th>
                        <th scope="col">Thumbnail</th>  
                        <th scope="col">Price</th>     
                        <th scope="col"></th>                                                                  
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for product in products %}
                        <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                            {% csrf_token %}                                  
                            {% if product.category.name == 'marketing_templates' %}
                                <tr>
                                    <th scope="row">{% if user.is_authenticated %} <p>Free review included </p> {% else %} {% endif %}</input></th>                
                                    <th scope="row" data-item_id="{{ product.id }}">{{ product.name }}</th>
                                    <th scope="row"><img src="{{ product.image.url }}" style="height: 50px; width: 50px;"></th>
                                    <th scope="row">€{{ product.price }}</th>              
                                    <th scope="row"><input type="submit" class="btn-action" value="Add to Bag" id="add_to-basket" name="add_to_basket"></input></th>
                                </tr>                                                      
                                <input type="hidden" name="redirect_url" value="{{ request.path }}">                               
                            {% endif %}
                        </form>
                    {% endfor %}                            
                    </tr>                                                    
                </tbody>
            </table>
        </div>
    </div>   
</div>