<div class="container">
    <div class="row text-center">
        <div class="col-lg-6 offset-3">
            <h3 class="title">Purchase marketing templates</h3>
            <p class="description">
                If you are logged into an account at time of purchase, you will receive your review within 5 working days.
            </p>
            <a class="btn-action mb-4" href="{% url 'account_signup' %}">Register!</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 offset-2">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Add to basket</th>
                        <th scope="col">Name</th>
                        <th scope="col">Thumbnail</th>  
                        <th scope="col">Price</th>                          
                        <th scope="col">Free review included</th>                                                        
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for product in products %}
                        {% if product.category.name == 'marketing_templates' %}
                            <tr>
                                <th scope="row"><input type="checkbox" id="add_to-basket" name="add_to_basket"></input></th>
                                <th scope="row">{{ product.name }}</th>
                                <th scope="row">IMAGE HERE</th>
                                <th scope="row">€{{ product.price }}</th>
                                <th scope="row"><input type="checkbox" id="marketing_template_review" name="marketing_template_review" {% if user.is_authenticated %} checked disabled {% else %} disabled {% endif %}></input></th>                                
                            </tr>
                            {% endif %}
                        {% endfor %}
                    </tr>                                                    
                </tbody>
            </table>
        </div>
    </div>
</div>