    <div class="row text-center container">
        <div class="col-lg-6 col-sm-12 offset-lg-3">
            <h3 class="title">Purchase project hours</h3>
            <p class="description">
                Select the options below to book and pay for hours required. 
            </p>
            {% if user.is_authenticated %}
            {% else %}
                <p class="description">
                    You must be <a href="{% url 'account_login' %}">logged into your account</a> to purchase hours and book a timeslot.
                </p>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-sm-6 offset-lg-2">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Digital or Face-to-face</th>
                        <th scope="col">Time allocation (minutes)</th>  
                        <th scope="col">Cost</th> 
                        <th scope="col"></th>                                                   
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        {% for product in products %}
                        <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                            {% csrf_token %}                                  
                            {% if product.category.name == 'project_hours' %}
                                <tr>
                                    <th scope="row" data-item_id="{{ product.id }}">{{ product.name }}</th>
                                    <th scope="row"> {{ product.time_allocation_mins }}</th>
                                    <th scope="row">€{{ product.price }}</th>  
                                    <th scope="row">
                                        {% if user.is_authenticated %}
                                        <input type="submit" class="btn-action" value="Add to basket" id="add_to-basket" name="add_to_basket"></input>
                                        {% endif %}
                                    </th>                                                                
                                </tr>                                                      
                                <input type="hidden" name="redirect_url" value="{{ request.path }}">                               
                            {% endif %}
                        </form>
                    {% endfor %}   
                    </tr>                                                                    
                </tbody>
            </table>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-lg-8 col-sm-6 offset-lg-2">
            <p>
                Open my calendar and check availability before selecting your purchase option.
            </p>
            <p>
                Once you have added the required project hours into your basket, you provide two timeslot options. I will confirm your booked time within 24 hours of receiving your order.
            </p> 
            <p>
                In the future this process will be automated, thanks to the awesome power of <a href="https://calendly.com/" target="_blank">Calendly!</a>
            </p>                               
        </div>
    </div>
    <div class="row">
        <div class="d-flex justify-content-center col-lg-12 mb-3">
            <a href="{% url 'calendar' %}" class="btn-action">Open calendar</a>
        </div>
    </div>
