{% load static %}
<!DOCTYPE html>
<html lang="en">

    <head>
        {% block meta %}
            <meta http-equic="X-UA-Compatible" content="ie=edge">        
            <meta charset="utf-8">
            <meta content="width=device-width, initial-scale=1.0" name="viewport">
            <meta content="The Marketing Ally: helping local Gothenburg businesses with marketing activities" name="description">
            <meta content="marketing, help, Gothenburg" name="keywords">
        {% endblock %}
        
        {% block extra_meta %}
        {% endblock %}

        {% block corecss %}

            <link rel="stylesheet" href="{% static 'css/base.css' %}">

        {% endblock %}

        {% block extra_css %}
        {% endblock %}

        {% block corejs %}    
        {% endblock %}

        {% block extra_js %}
        {% endblock %}

        <title>The Marketing Ally {% block extra_title %}{% endblock %}</title>

    </head>
    <header class="container-fluid fixed-top">Here is a header</header>
    
    {% if messages %}
        <div class="messages-container"></div>
    {% endif %}

  <body>
    
    {% block content %}
    {% endblock %}

  </body>

</html>