{% extends "base.html" %}
{% load static %}

{% block extra_page_header  %}

{% include 'includes/additional_header.html' %}

{% endblock %}

{% block content %}
  <section id="contact" class="contact padding-bottom-100">
    <div class="container">
      <div class="section-title">
        <h3>Get <span>In Touch</span></h3>
        <p>
          For any questions, or to discuss long term projects, please get in touch, or complete the <a href="{% url 'contact' %}#request_a_quote">Request a Quote form</a> below.
        </p>
      </div>
      <div class="row">
        <div class="col-12">
          <iframe class="google-map" loading="lazy" allowfullscreen src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJifVM3mXzT0YRCBrtousk4fQ&key=AIzaSyDHiF95O0YoB-Hfz0OCD747wdJmXA2jKq4"></iframe>
        </div>
      </div>
      <div class="row info">
        <div class="col-lg-4 address">
          <i class="bi bi-geo-alt"></i>
          <h3 class="ml-5">Address:</h3>
          <p>
            1 Kungsgatan, Next to Domkyrkan
          </p>
          <p>
            Gothenburg
          </p>
          <p>
            422 400
          </p>
        </div>
        <div class="col-lg-4 email">
          <i class="bi bi-envelope"></i>
          <h3 class="ml-5">Email:</h3>
          <p>
            <a href="mailto:sophie%40themarketingally%2ecom?subject=Enquiry for The Marketing Ally&body=Thanks in advance for your message!%0A%0APlease add your message here and I'll get back to you as soon as I can.%0A%0AThanks!%0A%0ASophie - The Marketing Ally">sophie@themarketingally.com</a>
          </p>              
        </div>
        <div class="col-lg-4 phone">
          <i class="bi bi-phone"></i>
          <h3 class="ml-5">Phone:</h3>
          <p>076-321 234 567</p>
        </div>
      </div>
    </div>
    {% include 'includes/quote_request.html' %}
  </section>  
{% endblock %}