{% extends "base.html" %}
{% load static %}

{% block extra_page_header  %}

{% include 'includes/additional_header.html' %}

{% endblock %}

{% block content %}
    <div class="container padding-bottom-100" id="add_products">
        <div class="section-title">
            <h3>Site <span>Administration</span></h3>
            <p>
                Add a new product
            </p>           
        </div>
        <div class="row" id="add_product_row">
            <div class="col-12 col-md-6">
                <form method="POST" action="{% url 'add_product' %}" class="form mb-2" enctype="multipart/form-data">
                    {% csrf_token %}
                        {{ product_form.category | as_crispy_field }}
                        {{ product_form.name | as_crispy_field }}
                        <p class="description">
                            For marketing templates this should be €15.
                        </p>
                        {{ product_form.price | as_crispy_field }}
                        <p class="description">
                            Ensure an image is added for marketing templates. DO NOT add for project hours.
                        </p>
                        {{ product_form.image | as_crispy_field }}
                        <p class="description">
                            Enter 0 for marketing templates.
                        </p>
                        {{ product_form.time_allocation_mins | as_crispy_field }}
                        <p class="description">
                            Priorities 1, 2 and 3 are displayed in the pricing section on the homepage.
                        </p>
                        {{ product_form.pricing_priority | as_crispy_field }}
                        <p class="description">
                            Only enter descriptions for project hours, to be displayed on the pricing structure information section.
                        </p>
                        {{ product_form.description_1 | as_crispy_field }}
                        {{ product_form.description_2 | as_crispy_field }}
                        {{ product_form.description_3 | as_crispy_field }}
                        {{ product_form.description_4 | as_crispy_field }}                        
                    <div class="text-right">
                        <a class="btn-action" href="{% url 'products' %}">Cancel</a>
                        <button class="btn-action" type="submit">Add Product</button>
                    </div>
                </form>
            </div>            
        </div>
    </div>
{% endblock %}